<!DOCTYPE html>
<html>
<head>
    <title>MVC: @ViewBag.Title</title>
    <link href="~/css/site.css" rel="stylesheet" />
</head>
<body>
    <header>
        <h1>
            Welcome to MVC.. Like being back at Centriq.
        </h1>
     <menu>
         <ul>
             <li><a asp-controller="App" asp-action="Index">Home</a></li>
             <li><a asp-controller="App" asp-action="Contact">Contact</a></li>
             <li><a asp-controller="App" asp-action="About">About</a></li>
         </ul>
     </menu>
    </header>
    <section>
        <h1>@ViewBag.Title</h1>
        @RenderBody()
    </section>
    <footer>Yeet.</footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/js/index.js"></script>
</body>
</html>